body{
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: 30px;
}
.name-highlight{
    color: rgb(255, 174, 0); 
}
.half-width{
    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%
}
.half-width img{
    width: 100%; 
}